# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SOF304.01_KieuMai_Nhom2_DoAn1Test\Du_an_1-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
